/**
 * Custom css
 * @author Ioannis
 */
.editPersona {
  margin-top: 20px;
}
#largeCallButton {
  background: linear-gradient(135deg, #4caf50, #81c784); /* Green Gradient Background */
  color: white; /* Text Color */
  border: none; /* No border */
  padding: 50px 260px; /* Large Padding around text */
  border-radius: 100px; /* Large Rounded Corners */
  font-family: 'Arial', sans-serif; /* Modern Font */
  font-size: 76px; /* Large Font Size */
  box-shadow: 0 21px 42px rgba(0,0,0,0.16); /* Subtle Shadow */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth Transition for Hover Effects */
  display: flex; /* Flex display for centering content */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center content horizontally */
}

#largeCallButton:hover {
  background: linear-gradient(135deg, #81c784, #4caf50); /* Color shift on hover */
}

#callIconLarge {
  margin-left: 56px; /* Space between text and icon */
  font-size: 120px; /* Larger Icon */
}
