/**
 * Custom css
 * @author Ioannis
 */
.editPersona {
  margin-top: 20px;
}
#largeCallButton {
  width: 200px;
    background: linear-gradient(135deg, #4caf50, #81c784); /* Green Gradient Background */
    color: white; /* Text Color */
    border: none; /* No border */
    padding: 10px 10px; /* Large Padding around text */
    border-radius: 50px; /* Large Rounded Corners */
    font-family: 'Arial', sans-serif; /* Modern Font */
    font-size: 20px; /* Large Font Size */
    box-shadow: 0 21px 42px rgba(0,0,0,0.16); /* Subtle Shadow */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth Transition for Hover Effects */
    display: flex; /* Flex display for centering content */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center content horizontally */
    margin: auto;
}

#largeCallButton:hover {
    background: linear-gradient(135deg, #81c784, #4caf50); /* Color shift on hover */
}
#largeCallButton:disabled {
  background: #e0e0e0; /* Example: Gray background for disabled state */
  color: #9e9e9e; /* Dimmed text color */
  cursor: not-allowed; /* Cursor to indicate non-interactive element */
  box-shadow: none; /* No shadow for a flat appearance */
}
#callIconLarge {
    margin-left: 15px; /* Space between text and icon */
    font-size: 20px; /* Larger Icon */
}
